.loginCont{
    width: 100%;
    height: 100vh;
    background: var(--alabaster);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login{
    position: absolute;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    font-family: var(--mainFont);
    color: var(--onyx);
    background: var(--alabaster);
}

.loginTitle{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.loginTitle img{
    width: 100%;
    min-width: 100px;
    object-fit: contain;
}

.loginTitle h1{
    font-size: 30px;
    font-weight: 700;
}

.loginForm, .forgotPasswordForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loginForm label, .forgotPasswordForm label{
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
}

.loginForm input, .forgotPasswordForm input{
    width: 70%;
    min-width: 100px;
    height: 40px;
    border: none;
    padding: 5px;
    font-family: var(--mainFont);
    font-size: 15px;
}

.loginForm input:focus, .forgotPasswordForm input:focus{
    outline: none;
}

.loginForm input[type='submit'], .forgotPasswordForm input[type='submit']{
    width: 70%;
    min-width: 100px;
    height: 30px;
    border: none;
    padding: 5px;
    font-family: var(--mainFont);
    font-size: 15px;
    background: var(--tomato);
    color: #ffffff;
    height: 40px;
    cursor: pointer;
    transition: all .25s;
}

.loginForm input[type='submit']:hover, .forgotPasswordForm input[type='submit']:hover{
    background: var(--darktomato);
}

.login button, .login a{
    color: var(--chocolate);
    transition: all .2s;
    background: none;
    border: none;
    font-family: var(--mainFont);
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.login button:hover, .login a:hover{
    text-decoration: underline;
    color: var(--sandybrown);
}

.forgotPassword{
    transform: translateY(10%);
    opacity: 0;
    position: absolute;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    font-family: var(--mainFont);
    color: var(--onyx);
    background: var(--alabaster);
    z-index: -1;
}

.returnLoginForm{
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    font-family: var(--mainFont);
    font-size: 20px;
    cursor: pointer;
}

.returnLoginForm i{
    transition: all .5s;
    transform: translateY(2px);
}

.returnLoginForm:hover i{
    transform: translateY(2px) translateX(-10px);
}

/* User Examples */

.userExamples{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--antiwhite);
    font-size: 15px;
    font-family: var(--mainFont);
    z-index: 2;


}
